/* GENERAL */
body {
  box-sizing: border-box;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  max-width: 100%;
}

/* Backgrounds */
.darkblue {
  background-color: #222f3f;
}
.bluegray {
  background-color: #364759;
}

.notwhite {
  background-color: #e9edee;
}

.white {
  background-color: white;
}

a {
  color: white;
  font-size: 0.8rem;
  text-decoration: none;
  cursor: pointer;
}
/* HEADER */

header {
  text-align: left;
  color: white;
}

.nav {
  padding: 0;
}

.nav a {
  display: inline;
  padding: 0 0.5%;
  font-size: 0.7rem;
}

.nav p {
  line-height: 0.6em;
  padding: 0 0 0.5% 1.5%;
}

.logo {
  width: 8.5%;
  padding: 1% 2%;
}
/* MAIN */

main {
  padding: 2%;
  padding-bottom: 0;
}

.orange {
  background-color: #f56600;
  color: white;
  text-align: center;
  margin-bottom: 2%;
  padding: 0.5% 0;
  font-size: 0.7rem;
}

.presents {
  background-image: url(../images/bg-image.png);
  color: white;
  text-align: center;
  background-size: contain;
  line-height: 2.5rem;
  padding-top: 4%;
  padding-bottom: 2%;
  margin-bottom: 2%;
  font-size: 1.4rem;
}

.presents div h1 {
  font-weight: bold;
}

.presents div p {
  font-size: 0.8rem;
  font-weight: bold;
}

.inline {
  text-align: center;
}

.white h2 {
  padding: 1.4% 1% 1% 1.5%;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.inline img {
  width: 23%;
  height: 250px;
  display: inline-block;
  overflow: hidden;
  object-fit: cover;
  border-radius: 15px;
  margin: 0.5%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

main a {
  color: #0d707c;
  font-weight: bold;
  padding-left: 1.5%;
  font-size: 0.6rem;
  letter-spacing: 0px;
}

.longImg {
  text-align: center;
  padding-top: 2%;
  font-size: 1rem;
}

.longImg h2 {
  padding-bottom: 2%;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: -0.5px;
}

/* FOOTER */

footer {
  text-align: center;
}

footer .logo {
  width: 13%;
}

footer .bluegray {
  padding-bottom: 0.7%;
  line-height: 0.5em;
}

footer .darkblue {
  padding: 4%;
}
footer a {
  text-decoration: underline;
  font-size: 0.55rem;
  font-weight: 600;
}
